<button id="menu" class="buttons" type="button" name="button">Main menu</button>
<h1>Find Client:</h1>
<form method="">
  <input id="ced"type="text" name="clientced" placeholder="Client ced" required="true">
  <button id="finduser" type="button" name="button">Find</button>
</form>

<script type="text/javascript">
const menubutton = document.querySelector("#menu")
menubutton.addEventListener("click", event =>{
  window.location="http://localhost:3001/home"
})
  const fbutton = document.querySelector("#finduser")

  fbutton.addEventListener("click",event=>{
    event.preventDefault()
    fetch("/ara/client/"+document.querySelector("#ced").value, {
      method: 'GET',

    }).then(res => res.json())
    .then(data => {
      const clientCed = parseInt(document.querySelector("#ced").value)
      const type =typeof data.client
      console.log(type);
      if (data.client.length==0){
         alert("Unregistered user, please enter it to the database")
         window.location = "http://localhost:3001/clients/new"

    }else{
      alert("Welcome to Ara SUPERMARKET, make your purchase!!")
       window.location = "http://localhost:3001/shop/"+clientCed}
    })
  })
</script>
